<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../assets/style.css">
    <style>
        .l-all {
            margin-left: 250px;
        }
        .l-header {
            position: fixed;
            left: 0;
            top: 0;
            height: 100vh;
            background-color: red;
            width: 250px;
        }
        .l-container {
            min-height: 2000px;
            background-color: #ccc;
        }
    </style>
</head>
<body>
    <div class="l-all">
        <header class="l-header"></header>
        <div class="l-container"></div>
        <footer class="l-footer"></footer>
    </div>
</body>
</html>