<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../assets/style.css">
    <link rel="stylesheet" href="assets/frame.css">
</head>
<body>
    <div class="l-inner">
        <h1>Button</h1>
        <br><br>
        <div class="p-scrolldown"></div>
        <br><br>
        <a href="" class="c-text-link01">健康発掘!卒煙ジュエルとは健康発掘!卒煙ジュエルとは健康発掘!卒煙ジュエルとは健康発掘!卒煙ジュエルとは健康発掘!卒煙ジュエルとは卒煙ジュエル</a>
        <a href="" class="c-text-link02">健康発掘!卒煙ジュエルとは健康発掘!卒煙ジュエルとは健康発掘!卒煙ジュエルとは健康発掘!卒煙ジュエルとは健康発掘!卒煙ジュエルとは健康発掘!卒煙ジュエルとは健康発掘!卒煙ジュエルとは健康発掘!卒煙ジュエルとは健康発掘!卒煙ジュエルとは健康発掘!卒煙ジュエルとは卒煙ジュエル</a>
        <br><br>
        <a href="" class="c-btnmore">
            MORE
            <i class="c-btnmore__arrow u-icon-arrowthin"></i>
        </a>
        <br><br>
        <a href="" class="c-btnskew">
            MORE
        </a>
        <br><br>
        <a href="" class="c-btn02">
            MORE
        </a>
        <br><br>
        <a href="" class="c-btn03">
            <span class="c-btn03__content">
                参加申込はこちらから
                <i class="c-btn03__arrow u-icon-arrowbold"></i>
            </span>
        </a>
        <br><br>
        <a href="javascript:;" class="c-btn04">
            Hover
        </a>
        <br><br>
        <a href="" class="c-btn05">
            Hover
        </a>
        <br><br>
        <a href="" class="c-btn06">
            <span class="c-btn06__inner">Hover</span>
        </a>
    </div>
    <br><br><br><br>
    <div class="l-inner">
        <h1>Project 【yobuko-machinami】</h1>

        <br><br>
        <div class="c-text01">Follow me!</div>

        <br>
        <div class="p-schedule">
            <div class="p-schedule__bar">
                <span class="p-schedule__node --left --color01">
                    <span>JR博多駅</span>
                </span>
                <span class="p-schedule__node --center --color02">
                    <span>JR唐津駅</span>
                </span>
                <span class="p-schedule__node --right --text-inside --color03">
                    呼子
                </span>
            </div>
            <div class="p-schedule__detail --column2">
                <div class="p-schedule__item">
                    <span class="p-schedule__text">福岡市地下鉄空港線</span>
                    <span class="p-schedule__box">約75分</span>
                </div>
                <div class="p-schedule__item">
                    <span class="p-schedule__text">福岡市地下鉄空港線</span>
                    <span class="p-schedule__box">約75分</span>
                </div>
            </div>
        </div>
    </div>
    <br><br><br><br>
    <div class="l-inner">
        <h1>Project 【yutokuyakuhin】</h1>

        <br><br>
        <div class="u-text-center">
            <div class="c-heading01">
                <span class="c-heading01__inner">
                    「祐」 BACKNUMBER
                </span>
            </div>
        </div>

        <br><br>
        <ul class="c-nav01">
            <li class="c-nav01__item --active"><a href="" class="c-nav01__link">社長インタビュー</a></li>
            <li class="c-nav01__item"><a href="" class="c-nav01__link">「祐」をつくる</a></li>
            <li class="c-nav01__item"><a href="" class="c-nav01__link">「祐」と九州</a></li>
        </ul>

        <br><br>
        <div class="u-bg01"></div>

        <br><br>
        <div class="p-column01">
            <div class="p-column01__item">
                <div class="p-column01__image"></div>
                <div class="p-column01__bar"></div>
            </div>
            <div class="p-column01__item">
                <div class="p-column01__image"></div>
                <div class="p-column01__bar"></div>
            </div>
            <div class="p-column01__item">
                <div class="p-column01__image"></div>
                <div class="p-column01__bar"></div>
            </div>
            <div class="p-column01__item">
                <div class="p-column01__image"></div>
                <div class="p-column01__bar"></div>
            </div>
            <div class="p-column01__item">
                <div class="p-column01__image"></div>
                <div class="p-column01__bar"></div>
            </div>
            <div class="p-column01__item">
                <div class="p-column01__image"></div>
                <div class="p-column01__bar"></div>
            </div>
            <div class="p-column01__item">
                <div class="p-column01__image"></div>
                <div class="p-column01__bar"></div>
            </div>
            <div class="p-column01__item">
                <div class="p-column01__image"></div>
                <div class="p-column01__bar"></div>
            </div>
        </div>
        
        <br><br><br><br><br>
        <div class="p-column02 --reverse">
            <div class="p-column02__item --large">
                <img src="assets/images/img_kyushu02.jpg" alt="">
            </div>
            <div class="p-column02__item">
                <img src="assets/images/img_kyushu01.jpg" alt="">
            </div>
            <div class="p-column02__item">
                <img src="assets/images/img_kyushu01.jpg" alt="">
            </div>
            <div class="p-column02__item">
                <img src="assets/images/img_kyushu01.jpg" alt="">
            </div>
            <div class="p-column02__item">
                <img src="assets/images/img_kyushu01.jpg" alt="">
            </div>
            <div class="p-column02__item">
                <img src="assets/images/img_kyushu01.jpg" alt="">
            </div>
            <div class="p-column02__item">
                <img src="assets/images/img_kyushu01.jpg" alt="">
            </div>
        </div>
    </div>

    <br><br><br><br>
    <div class="l-inner">
        <h1>Project 【uchino-clinic】</h1>

    </div>
    <!-- 
        nội dung chính căn giữa
        vùng nền đảm bảo có padding hai bên bằng padding container
      -->
      <br><br>
      <div class="p-box01 --right">
          <div class="p-box01__inner l-inner">
              <div class="p-box01__content">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis, quo.
              </div>
          </div>
      </div>
      <br><br>
      <div class="p-box01 --left">
          <div class="p-box01__inner l-inner">
              <div class="p-box01__content">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis, quo.
              </div>
          </div>
      </div>
       <!-- 
          nội dung chữ căn trái hoặc phải của của container
          nội dung hình ảnh căn trái hoặc phải cửa viewport
          vùng nền đảm bảo có padding hai bên bằng padding container
        -->
        <br><br><br><br><br>
        <div class="p-box02 --left">
            <div class="p-box02__inner l-inner">
                <div class="p-box02__content">
                    <div class="p-box02__left">
                        <img src="https://placehold.co/600x400/FFFFFF/666" alt="IMG">
                    </div>
                    <div class="p-box02__right">
                        <h1 class="p-box02__title">タイトルがはいります。</h1>
                        <p class="p-box02__text">テキストがはいります。テキストが入ります。テキストがはいります。テキストが入ります。テキストがはいります。テキストが入ります。</p>
                    </div>
                </div>
            </div>
        </div>
        <br><br>
        <div class="p-box02 --right">
            <div class="p-box02__inner l-inner">
                <div class="p-box02__content">
                    <div class="p-box02__left">
                        <img src="https://placehold.co/600x400/FFFFFF/666" alt="IMG">
                    </div>
                    <div class="p-box02__right">
                        <h1 class="p-box02__title">タイトルがはいります。</h1>
                        <p class="p-box02__text">テキストがはいります。テキストが入ります。テキストがはいります。テキストが入ります。テキストがはいります。テキストが入ります。</p>
                    </div>
                </div>
            </div>
        </div>
        <br><br><br><br><br><br><br>
        <div class="p-box03 --left">
          <div class="p-box03__inner l-inner">
              <div class="p-box03__left">
                  <img src="https://placehold.co/1000x500" alt="">
              </div>
              <div class="p-box03__right">
                  
              </div>
          </div>
        </div>
        <br><br>
        <div class="p-box03 --right">
          <div class="p-box03__inner l-inner">
              <div class="p-box03__left">
                  <img src="https://placehold.co/1000x500" alt="">
              </div>
              <div class="p-box03__right">
                  
              </div>
          </div>
        </div>
        <br><br><br>
        <div class="l-inner">
            <h1>Project 【sunpark-tamana】</h1>
        </div>
        <div class="p-nav01 --column2">
            <div class="p-nav01__item">
                <div class="p-nav01__link">
                    <div class="p-nav01__img">
                        <img src="assets/images/img_bg01.jpg" alt="">
                    </div>
                    <div class="p-nav01__content">
                        <span>交通アクセス</span>
                        <strong>Access</strong>
                    </div>
                </div>
            </div>
            <div class="p-nav01__item">
                <div class="p-nav01__link">
                    <div class="p-nav01__img">
                        <img src="assets/images/img_bg02.jpg" alt="">
                    </div>
                    <div class="p-nav01__content">
                        <span>交通アクセス</span>
                        <strong>Access</strong>
                    </div>
                </div>
            </div>
        </div>
        <br><br><br><br>
        <div class="l-inner">
            <h1>Project 【shin-entclinic】</h1>
            <div class="p-diagram">
                <div class="p-diagram__label">アレルギー検査</div>
                <span class="p-diagram__arrow"></span>
                <div class="p-diagram__label">内服加療</div>
                <div class="p-diagram__frame">
                    <div class="p-diagram__frame-left">
                        <span class="p-diagram__arrow"></span>
                        <div class="p-diagram__label">舌下免疫療法</div>
                    </div>
                    <div class="p-diagram__frame-arrow">
                        <span class="p-diagram__arrow --horizontal"></span>
                    </div>
                    <div class="p-diagram__frame-right">
                        <span class="p-diagram__arrow"></span>
                        <div class="p-diagram__label">外科的手術</div>
                        <span class="p-diagram__arrow"></span>
                        <div class="p-diagram__label">生物学的製剤の自己注射</div>
                    </div>
                </div>
            </div>
            <br><br><br><br>
            <div class="p-box04">
                <div class="p-box04__left">
                    <div class="p-box04__image">
                        <img src="https://placehold.co/600x500/FFFFFF/666" alt="IMG">
                    </div>
                </div>
                <div class="p-box04__right">
                    <div class="p-box04__text">
                        私は久留米大学耳鼻咽喉科頭頸部外科学講座で研鑽を積み、麻生飯塚病院、九州がんセンター、聖マリア病院、社会保険田川病院、八女公立病院、大牟田市立病院、JCHO下関医療センターなど多くの病院で多くの患者さまを診察してまいりました。<br>
                        勤務医時代の約15年間は手術などの手技の習得はもちろんのこと、人として成長するために大切な期間だったと感じています。<br>
                        『人に喜んでもらえることが一番の喜びに変わってきた。』<br>
                        これはイチロー選手の引退会見の一言ですが、皆さんのより身近な存在でお役に立ちたいという思いが日に日に強くなり、ご縁のあった下関にて開業することといたしました。
                    </div>
                </div>
            </div>
            <br><br><br><br>
        </div>

</body>
</html>