<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../assets/style.css">
</head>
<body>
<div class="l-inner">
    <h1>Link</h1>
<pre>
<%= getRelativePath('<strong>/about</strong>'); %> => wrong
<%= getRelativePath('<strong>/about/</strong>'); %> => true
</pre>

    <h1>section news of cms</h1>
<pre>
text <strong>"NEW" or icon blank</strong> v.v should <strong>put with a tag</strong> not use pseudo element 
can <strong>put inside</strong> tag contain title post: <strong>p-news__title</strong>
</pre>
</div>
</body>
</html>