<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <!-- 
        nội dung chính căn giữa
        vùng nền đảm bảo có padding hai bên bằng padding container
      -->
      <br><br>
      <div class="p-box01 --right">
          <div class="l-inner --left">
              <div class="p-box01__inner">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis, quo.
              </div>
          </div>
      </div>
      <br><br><br>
      <div class="p-box01 --left">
          <div class="l-inner --right">
              <div class="p-box01__inner">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis, quo.
              </div>
          </div>
      </div>
       <!-- 
          nội dung chữ căn trái hoặc phải của của container
          nội dung hình ảnh căn trái hoặc phải cửa viewport
          vùng nền đảm bảo có padding hai bên bằng padding container
        -->
        <br><br><br><br><br><br><br>
        <div class="p-box02 --left">
          <div class="l-inner">
              <div class="p-box02__left">
                  <img src="https://placehold.co/600x400" alt="IMG">
              </div>
              <div class="p-box02__right">
                  <h1 class="p-box02__title">タイトルがはいります。</h1>
                  <p class="p-box02__text">テキストがはいります。テキストが入ります。テキストがはいります。テキストが入ります。テキストがはいります。テキストが入ります。</p>
              </div>
          </div>
        </div>
        <br><br>
        <div class="p-box02 --right">
          <div class="l-inner">
              <div class="p-box02__left">
                  <img src="https://placehold.co/600x400" alt="IMG">
              </div>
              <div class="p-box02__right">
                  <h1 class="p-box02__title">タイトルがはいります。</h1>
                  <p class="p-box02__text">テキストがはいります。テキストが入ります。テキストがはいります。テキストが入ります。テキストがはいります。テキストが入ります。</p>
              </div>
          </div>
        </div>
        <br><br><br><br><br><br><br>
        <div class="p-box03 --left">
          <div class="l-inner --right">
              <div class="p-box03__left">
                  <img src="https://placehold.co/1000x500" alt="">
              </div>
              <div class="p-box03__right">
                  
              </div>
          </div>
        </div>
        <br><br>
        <div class="p-box03 --right">
          <div class="l-inner --left">
              <div class="p-box03__left">
                  <img src="https://placehold.co/1000x500" alt="">
              </div>
              <div class="p-box03__right">
                  
              </div>
          </div>
        </div>
</body>
</html>