* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.l-inner {
    width: 100%;
    max-width: 1000px;
    padding: 0 20px;
    margin: 0 auto;
}
.l-inner.--left {
    margin-left: 0;
}
.l-inner.--right {
    margin-right: 0;
}
.p-box01 {
    max-width: calc(50% + 500px);
    background: yellow;
    padding-top: 1px;
    min-height: 300px;
}
.p-box01.--right {
    margin-left: auto;
    border-top-left-radius: 100px;
}
.p-box01.--left {
    border-top-right-radius: 100px;
}
.p-box01__inner {
    height: 100px;
    background-color: rgba(0,0,0,0.2);
    margin-top: -20px;
}


/* box01 */
.p-box02 {
    min-height: 400px;
    background-color: #fff8f2;
    position: relative;
    display: flex;
    align-items: center;
}
.p-box02__left {
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%;
}
.p-box02__left img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.p-box02__right {
    width: 50%;
}
.p-box02.--left .p-box02__left {
    left: 0;
}
.p-box02.--left .p-box02__right {
    margin-left: auto;
    padding-left: 50px;
}
.p-box02.--right .p-box02__left {
    right: 0;
}
.p-box02.--right .p-box02__right {
    margin-right: auto;
    padding-right: 50px;
}
/*  */
.p-box03 {
    max-width: calc(50% + 500px);
    min-height: 500px;
    display: flex;
    align-items: center;
    position: relative;
    padding: 20px 0;
}
.p-box03__left {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 250px;
    left: 0;
}
.p-box03__left img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.p-box03__right {
    width: 450px;
    min-height: 300px;
    background-color: rgba(0,0,0,0.5);
    position: relative;
}
.p-box03.--left .p-box03__right{
    margin-left: auto;
}
.p-box03.--right {
    margin-left: auto;
}
.p-box03.--right .p-box03__left{
    left: 250px;
    right: 0;
}