<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../assets/style.css">
</head>
<body>
    <div class="l-inner">
        <h1>Header, Footer</h1>
<pre>
<%- include('_config', { extend: {
    relativePath: '.',
    page: {
        id: '',
        title: '',
        description: '',
    }
}}); %>
<strong class="u-red">property relativePath is relative with folder src/</strong>

<%- include('_footer'); %>
</pre>
        <h1>Path</h1>
<pre>
<%= getRelativePath('/'); %>
<strong class="u-red">use it to link to src</strong>
</pre>
    </div>
</body>
</html>
